* {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: Serif Pro, Lora, Markazi Text, Hahmlet, serif
}

header {
    position: relative;
    display: flex;
    justify-content: end;
    background-image: url('/public/images/banner.jpg');
    margin-bottom: 50px;
}

header .menu-button {
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: bold;  
    margin: 10px;
    padding: 10px;
}

header .navi {
    display: none;
    
}

header .navigate {
    display: block;
    background-color: red;
    position: relative;
    top: 50px;
    left: 60px;
    
}

header nav li {
    margin: 10px;
    list-style: none;
    text-align: center;
    padding: 5px;
}

header nav li:hover {
    background-color: green;
    text-decoration: underline;
}

header nav li:active  {
    background-color:  cyan;
}   


header nav li a {
    text-decoration: none;
    font-size: 20px  
}

input[type=search] {
    margin: 40px;
    padding: 11px;
    border-radius: 20px;
    position: relative;
    width: 300px;
    font-size: 20px;
    
}


button[type=search] {
    position: relative;
    margin: 0;
    /* top: 1px;  */
    right: 127px;
    padding: 11px;
    border-radius: 20px;
    background-color:cyan;
    color:  #112A46;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
::placeholder {
    font-size: 20px
}

.input--search__button {
    display:block;
}







.footer-div {
    border-top: 2px gold solid;
    border-bottom: 2px gold solid;
}






